body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #141414;
}

section {
    max-width: 450px;
    padding: 10px;
   
}

section #mainPhoto {
    width: 400px;
    height: 400px;
    border: 2px solid #fff;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.imgCarousel {
    width: 75px;
    height: 75px;
   
    transition: all .2s ease-in-out;
}

.imgCarousel:hover {
    border: 2px solid #fff;
}

img {
    border-radius: 10px;
    cursor: pointer;
}