*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #141414;
}

 #mainPhoto {
    width: 350px;
    height: 350px;
    border: 2px solid #fff;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}

.imgCarousel {
    width: 70px;
    height: 60px;
    transition: all .1s ease-in-out;
}

.imgCarousel:hover {
    border: 2px solid #fff;
}

img {
    border-radius: 10px;
    cursor: pointer;
}
