body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
}

#mainPhoto {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

.imgCarousel {
    width: 80px;
    height: 80px;
    transition: all .2s ease-in-out;
}

.imgCarousel:hover {
    width: 85px;
    height: 80px;
    border: 2px solid #fff;
    margin: 3px;
}

img {
    border-radius: 10px;
    cursor: pointer;
}